.main
{background-image:url(bannebkg.jpg);
height:700px;
width:100%;
padding-top:15px;
}
.video
{border:thick;
padding-top:20px;
padding-left:5%;
padding-right:10%;
margin-right:2%;
height:400px;
width:450px;
background-color:#000000;
}
.like
{color:#000000;
float:left;
padding-left:35%;
padding-right:5px;
padding-top:5px;
border:thick;


}
.comment
{
border:thick;
float:left;
padding-left:25px;
padding-top:5px;
}
.content
{height:350px;
width:300px;